:root{
    --font-heading: Verdana;
    --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --color-gedempt: #6b6b6b;
    --color-accent: #b5451b;
    --font-size: 1rem;
    --debug-border: 0.1rem solid red;
}

body{
    font-family: var(--font-body);
    border: var(--debug-border);
    font-size: 1rem;
}
nav ul>li a{
    padding: 0.1rem 0.3rem;
    text-decoration: none;
    color: var(--color-accent);
    &:hover,:focus{
        color: white;
        background-color: black;
        border-radius: 0.2rem;
    };
}