/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {
    --border-kirmizi: 0.1rem solid red;
    --border-yesil: 0.1rem solid green;
}

/* === your rules === */
html{
    background-color: white;
}
body{
    background-color: #ff816f;
    padding: 5rem 5rem;
    font-family: Arial;
    height: 100vh;
    margin: 1rem;
}
h1{
    border: 0.25rem solid black;
    border-bottom: 0rem;
    width: 15rem;
    background-color: #ffd500;
    font-size: 0.875rem;
    padding: 0.75rem 0.75rem .75rem 1.5rem;
    font-weight: lighter;
    box-shadow: -0.25rem 0.25rem;
}
h2{
    border: 0.25rem solid black;
    width: 35rem;
    background-color: white;
    padding: 2rem;
    font-size: 3rem;
    box-shadow: -0.25rem 0.25rem,0.25rem 0.25rem;
}