/* stijl.css - labo 3, kleuren (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */
body {
    color: white;
    text-align: center;
    font-family: Arial;
}
h2{
    letter-spacing: 0.25rem;
    margin-bottom: 1vh;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    padding-top: 8vh;
    height: 20vh;
}
span:nth-child(2){
    margin-left: 1rem;
    margin-right: 1rem;
}
.tomato{
    background-color: tomato;
}
.orangered{
    background-color: orangered
}
.coral{
    background-color: coral;
}
.lightsalmon{
    background-color: lightsalmon;
}
.darkorange{
    background-color: darkorange;
}